<% include partials/__header %>


<div class="container">

	<div class="row mt-5">
		<div class="col-md-12">
		
		 <table class="table-bordered table-hover">
		 <thead>
		 	<tr>
		 	<th style="width:180px;">Nome</th>
            <th>Preco Compra</th>
            <th>Preco Venda</th>
            <th>Quantidade</th>
            <th style="width:120px;">Fornecedor</th>
            <th style="width:120px;">Data Adquirido</th>
            <th style="width:60px;">#</th>
		 	</tr>

		 </thead>

		 <tbody>
		 	<% if (data ) {  %>
		 		<% for  (var i = 0; i < data.length; i++) { %>

		 		<tr> 
		 		
		 			<td> <%= data[i].nomematerial %>  </td>
		 			<td> <%= data[i].precocompra %>  </td>
		 			<td> <%= data[i].precovenda %>  </td>
		 			<td> <%= data[i].quantidade %>  </td>
		 			<td> <%= data[i].nomefornecedor %>  </td>
		 			<td> <%= data[i].dataadquirido %>  </td>
		 			<td> 
		 				<a href="/update/<%= data[i].idmaterial %>" value="" class="btn btn-info">Armazenar </a>
		 			</td>

		 		</tr>
		 	<% } %>
		 	<% } %>
		 </tbody>


		 </table>
		
		</div> 
	</div>

</div>


<% include partials/__footer %>